@model Co_Operations.Models.LocationModels.LocationDetail

@{
    ViewBag.Title = "Details";
}

<h2 class="text-center">@Model.LocationName</h2>
<br />
<hr />

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FundsOnHand)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FundsOnHand)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SalesCommision)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SalesCommision)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LocationCommision)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LocationCommision)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SalesTax)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SalesTax)
        </dd>
    </dl>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Transactions.FirstOrDefault().TransactionID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Transactions.FirstOrDefault().TransactionDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Transactions.FirstOrDefault().TransactionTotal)
            </th>
        </tr>

        @foreach (var tP in Model.Transactions)
        {
            <tr class="tableData" data-href="/Transaction/Details/@tP.TransactionID">
                <td>
                    @Html.DisplayFor(modelItem => tP.TransactionID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => tP.TransactionDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => tP.TransactionTotal)
                </td>
            </tr>
        }
    </table>
</div>
<p class="text-center">
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Delete", "Delete", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>


@section Scripts{
    <script type="text/javascript">
        document.addEventListener("DOMContentLoaded", function () {
            const rows = document.querySelectorAll('tr[data-href]');
            console.log(rows)
            rows.forEach(row => {
                row.addEventListener("click", function () {
                    window.location.href = row.dataset.href;
                });
            });
        });
    </script>
}