@model IEnumerable<Co_Operations.Models.ProductListItem>

@using Microsoft.AspNet.Identity

@{
    ViewBag.Title = "Products";
}

<h2 class="text-center">Products</h2>
@if (TempData.ContainsKey("SaveResult"))
{
    <div class="alert alert-success fade in" role="alert">

        <button type="button" class="close" data-dismiss="alert">
            <span>&times;</span>
        </button>
        @TempData["SaveResult"]
    </div>
}
<ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#AllProducts">All Products</a></li>
    <li><a data-toggle="tab" href="#MyProducts">My Products</a></li>
    <li><a href="Product/Create">Add Product</a></li>
</ul>

<div class="tab-content">
    <div id="AllProducts" class="tab-pane fade in active">

        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.SKU)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ItemName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Price)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr class="tableData" data-href="/product/Details/@item.SKU">
                    <td>
                        @item.SKU
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ItemName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    @if (item.MakerId == User.Identity.GetUserId())
                    {
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.SKU }) |
                            @Html.ActionLink("Details", "Details", new { id = item.SKU }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.SKU })
                        </td>
                    }
                    else
                    {
                        <td>
                            @Html.ActionLink("Details", "Details", new { id = item.SKU })
                        </td>
                    }
                </tr>
            }
        </table>
    </div>

    <div id="MyProducts" class="tab-pane fade">

        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.SKU)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ItemName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Price)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model.Where(m => m.MakerId == User.Identity.GetUserId()))
            {
                <tr class="tableData" data-href="/product/Details/@item.SKU">
                    <td>
                        @item.SKU
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ItemName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.SKU }) |
                        @Html.ActionLink("Details", "Details", new { id = item.SKU }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.SKU })
                    </td>
                </tr>
            }
        </table>
    </div>
</div>


@section Scripts{
    <script type="text/javascript">
        document.addEventListener("DOMContentLoaded", function () {
            const rows = document.querySelectorAll('tr[data-href]');
            console.log(rows)
            rows.forEach(row => {
                row.addEventListener("click", function() {
                    window.location.href = row.dataset.href;
                });
            });
        });
    </script>
}
