@model Co_Operations.Models.TransactionModels.TransactionDetail

@{
    ViewBag.Title = "Details";
}

<h2 class="text-center">Transaction Details</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SellerName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SellerName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LocationName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LocationName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateOfSale)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateOfSale)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Total)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Total)
        </dd>
    </dl>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Products.FirstOrDefault().ProductSKU)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Products.FirstOrDefault().MakerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Products.FirstOrDefault().Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Products.FirstOrDefault().Quantity)
            </th>
        </tr>
        @foreach (var tP in Model.Products)
        {
            <tr class="tableData" data-href="/Product/Details/@tP.ProductSKU">
                <td>
                    @Html.DisplayFor(modelItem => tP.ProductSKU)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => tP.MakerName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => tP.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => tP.Quantity)
                </td>
            </tr>
        }
    </table>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Delete", "Delete", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>

@section Scripts{
    <script type="text/javascript">
        document.addEventListener("DOMContentLoaded", function () {
            const rows = document.querySelectorAll('tr[data-href]');
            console.log(rows)
            rows.forEach(row => {
                row.addEventListener("click", function () {
                    window.location.href = row.dataset.href;
                });
            });
        });
    </script>
}
